# Environment variables
.env

# Xcode
xcuserdata/
*.xcuserstate
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Build artifacts
build/
DerivedData/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Temp files
*.swp
*~